#wp-user-alerts th {
	font-weight: normal;
	text-align: right;
	width: 10%;
}

#wp-user-alerts tr:not(.broadcast) td {
	vertical-align: top;
	width: 33%;
}

#wp-user-alerts .broadcast p {
	margin-left: 25px;
}

#wp-user-alerts .alerts-picker {
	min-height: 42px;
	max-height: 200px;
	overflow: auto;
	padding: 0 0.9em;
	border: solid 1px #dfdfdf;
	background-color: #fdfdfd;
}

#wp-user-alerts .alerts-picker label {
	font-size: 13px;
}