#post-body #wp-user-alerts .inside {
	margin: 0;
	padding: 0;
}

table.wp-user-alerts {
	margin-top: 0;
}

table.wp-user-alerts th {
	background: #f1f1f1;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	padding: 10px;
}

table.wp-user-alerts td {
	padding: 0 10px 10px;
	margin: 0;
}

table.wp-user-alerts tr:not(.broadcast) td {
	vertical-align: top;
}

table.wp-user-alerts .alerts-picker {
	min-height: 42px;
	max-height: 200px;
	overflow: auto;
	padding: 0 0.9em;
	border: solid 1px #dfdfdf;
	background-color: #fdfdfd;
}

table.wp-user-alerts .alerts-picker label {
	font-size: 13px;
}

table.wp-user-alerts .alert-severity-info {
	color: limegreen;
}
table.wp-user-alerts .alert-severity-notice {
	color: skyblue;
}
table.wp-user-alerts .alert-severity-warning {
	color: lightgray;
}
table.wp-user-alerts .alert-severity-error {
	color: red;
}
table.wp-user-alerts .alert-severity-critical {
	color: darkorchid;
}
table.wp-user-alerts .alert-severity-alert {
	color: darkorange;
}
table.wp-user-alerts .alert-severity-emergency {
	color: darkred;
}
